html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
}

body {
    background: #ECECEC;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #084561;
}

a:hover {
    text-decoration: underline;
}

.clearfix:after {
    clear: both;
    height: 1px;
    width: 1px;
    content: " ";
    display: block;
}

.container {
    width: 800px;
    margin: auto;
}

header {
    height: 178px;
    padding: 40px 0;
}

header .logo {
    float: left;
    height: 128px;
    width: 128px;
}

header h1 {
    line-height: 40px;
    font-size: 2em;
    padding: 82px 0 6px 142px;
    color: rgb(9,33,49);
}

section {
    margin: 20px;
    font-size: 1.2em;
    line-height: 1.4em;
}

.github-btns {
    margin-top: 30px;
}

.github-btns .wrapper {
    width: 50%;
    float: left;
}

.github-btns .wrapper .button {
    margin: auto;
    width: 80px;
}

.links {
    border-top: solid 1px #E3E3E3;
    border-bottom: solid 1px #E3E3E3;
    height: 62px;
    line-height: 20px;
    background-color: #f8f8f4;
    padding: 20px;
    color: #707070;
    text-align: center;
}

.links a {
}

.authors {
    margin-top: 40px;
}

.authors .author {
    width: 45%;
    margin-left: 5%;
    padding: 6px;
    background-color: white;
    border-bottom: solid 2px #4D4D4D;
}

.authors .author.eskimon {
    float: left;
    margin-left: 0;
}

.authors .author.sandhose {
    float: right;
    margin-top: -5px;
}

.avatar {
	height: 96px;
	width: 96px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.author .avatar {
    float: left;
    margin: 5px;
}

.author .avatar img {
    padding: 2px;
}

.author .text {
    margin: 5px;
    padding-left: 116px;
    font-size: 0.9em;
    color: #454545;
}

.author .text h3 {
    color: #222;
    margin: 2px 0;
}
